{% block style %}
<style>
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
{% endblock %}
{% block content %}

<style>
img {
  border-radius: 8px;
}
</style>
{% load static %}
<img src="{% static "VHlogo.png" %}" alt="VHLogo" width="300" height="300">

<style>
img2 {
  border-radius: 8px;
}
</style>

<img src="{% static "giphyy.gif" %}"  alt="DJ" width="300" height="300">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.as_p }}
    <button class="button", type="submit">Ready to roll !</button>
  </form>
{% endblock %}