<!DOCTYPE html>
{% load static %}
{% load webb_tags %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body background="{% static "website_background.jpeg" %}">
<h1 align="center", style="color:white;font-family:Comic Sans MS"> BeatBot </h1>
    <h1 align="center", style="color:white;font-family:Comic Sans MS"> Enjoy {{ predicted_label }} </h1>
<img src="{% static "VHlogo.png" %}"  alt="VHLogo" width="170" height="170" style="border-radius: 8px;
        position: absolute;
        right: 0px;
        bottom: 0px;">
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <!-- We will insert our code here. -->
  <script type="text/javascript">
   var access_token = "{{ access_token }}";
   var play_url = 'https://api.spotify.com/v1/me/player/play?device_id=';
  </script>
    <script type="text/javascript">
    window.onSpotifyWebPlaybackSDKReady = () => {
      var player = new Spotify.Player({
        name: 'Saransh Player',
        getOAuthToken: cb => { cb(access_token); }
      });

      // Error handling
      const message = 'Received error message here'
      player.addListener('initialization_error', ({ message }) => { console.error(message); });
      player.addListener('authentication_error', ({ message }) => { console.error(message); });
      player.addListener('account_error', ({ message }) => { console.error(message); });
      player.addListener('playback_error', ({ message }) => { console.error(message); });

      // Playback status updates
      player.addListener('player_state_changed', state => {
          fetch("get_gif_url", {
    method: "post",
    credentials: "same-origin",
    headers: {
        "Accept": "application/json",
        "Content-Type": "application/json"
    },
    body: JSON.stringify({{ gif_url|safe }})
}).then(function(response) {
    return response.json();
}).then(function(data) {
    document.getElementById('giffy_frame').src = data['data'];
}).catch(function(ex) {
    console.log("parsing failed", ex);
});

      });

      // Ready
      player.addListener('ready', ({ device_id }) => {
          play_url = play_url.concat(device_id);
        console.log('Ready with Device ID', device_id);
      });

      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });

      // Connect to the player!
      player.connect();
       };
  </script>
<script type="text/javascript">
    window.setTimeout(delay, 4000); function delay() { const otherparam = {
        headers: {
            'Content-Type': 'application/json',
             'Authorization': `Bearer ${access_token}`
        },
        body: JSON.stringify({{uri_set|safe}}),
        method: 'PUT'
    }
    fetch(play_url, otherparam);
    }

    </script>


<iframe id="giffy_frame" width="480" height="480" frameBorder="0" allowFullScreen style="margin-left: 32%"></iframe>
</body>
</html>